<div id="post" class="tabcontent">
  <div class="card gedf-card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <div class="item-avatar">
            <img src="http://i1.taimienphi.vn/tmp/cf/aut/hinh-anh-nguoi-mau.jpg" alt="">
          </div>
          <div class="ml-2">
            <div class="h7 text-muted">Sang vlog</div>
          </div>
        </div>
        <div>
          <div class="dropdown">
            <a href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-ellipsis-h"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Báo Cáo</a></li>
              <li><a class="dropdown-item" href="#">Lưu</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="text-muted h7 mb-2"> <i class="far fa-clock"></i>10 phút trước</div>
      <a class="card-link" href="#">
        <h5 class="card-title">Sang vlog 14 ngày bắt cá và tồn tại trong rừng.</h5>
      </a>

      <p class="card-text">
        Với mọi người hạnh phúc là gì vậy?
        Theo sang khi sang vào rừng 14 ngày cùng nhóc quỳnh sang mới cảm nhận được hạnh phúc nó đơn giản lắm. 
        Là hoàng thành tốt chuyến đi để gửi đến tất cả mọi người
      </p>
    </div>
    <div class="card-footer">
      <p class="card-link"><i class="far fa-thumbs-up"></i> 1.2k Like</p>
    </div>
  </div></br>

  <div class="card gedf-card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <div class="item-avatar">
            <img src="http://i1.taimienphi.vn/tmp/cf/aut/hinh-anh-nguoi-mau.jpg" alt="">
          </div>
          <div class="ml-2">
            <div class="h7 text-muted">Sang vlog</div>
          </div>
        </div>
        <div>
          <div class="dropdown">
            <a href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-ellipsis-h"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Báo Cáo</a></li>
              <li><a class="dropdown-item" href="#">Lưu</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="text-muted h7 mb-2"> <i class="far fa-clock"></i>10 phút trước</div>
      <a class="card-link" href="#">
        <h5 class="card-title">Sang vlog 14 ngày bắt cá và tồn tại trong rừng.</h5>
      </a>

      <p class="card-text">
        Với mọi người hạnh phúc là gì vậy?
        Theo sang khi sang vào rừng 14 ngày cùng nhóc quỳnh sang mới cảm nhận được hạnh phúc nó đơn giản lắm. 
        Là hoàng thành tốt chuyến đi để gửi đến tất cả mọi người
      </p>
    </div>
    <div class="card-footer">
      <p class="card-link"><i class="far fa-thumbs-up"></i> 1.2k Like</p>
    </div>
  </div></br>

  <div class="card gedf-card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <div class="item-avatar">
            <img src="http://i1.taimienphi.vn/tmp/cf/aut/hinh-anh-nguoi-mau.jpg" alt="">
          </div>
          <div class="ml-2">
            <div class="h7 text-muted">Sang vlog</div>
          </div>
        </div>
        <div>
          <div class="dropdown">
            <a href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-ellipsis-h"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Báo Cáo</a></li>
              <li><a class="dropdown-item" href="#">Lưu</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="text-muted h7 mb-2"> <i class="far fa-clock"></i>10 phút trước</div>
      <a class="card-link" href="#">
        <h5 class="card-title">Sang vlog 14 ngày bắt cá và tồn tại trong rừng.</h5>
      </a>

      <p class="card-text">
        Với mọi người hạnh phúc là gì vậy?
        Theo sang khi sang vào rừng 14 ngày cùng nhóc quỳnh sang mới cảm nhận được hạnh phúc nó đơn giản lắm. 
        Là hoàng thành tốt chuyến đi để gửi đến tất cả mọi người
      </p>
      <div class="card-image">
        <img src="http://i1.taimienphi.vn/tmp/cf/aut/hinh-anh-nguoi-mau.jpg" alt="">
      </div>
    </div>
    <div class="card-footer">
      <p class="card-link"><i class="far fa-thumbs-up"></i> 1.2k Like</p>
    </div>
  </div>
</div>
