<% if counter < 100 && counter > 0 %>
  <div class='count-noti'><p><%= counter %></p></div>
<% elsif counter >= 100 %>
  <div class='count-noti'><p>99</p></div>
<% else %>
  <div class='count-noti dp-n'></div>
<% end %>
