$("#password").html("<%= j render('users/form_password') %>");
$("#error_messages_password").html("<%= j render('shared/error_messages', resource: current_user) %>");
<% if current_user.errors.blank? %>
  $("#message").html("<p>Cập nhật thành công</p>");
<% end %>
