$("#password").html("<%= j render('users/form_password') %>");
$("#error_messages_password").html("<%= j render('shared/error_messages', resource: current_user) %>");

<% if @error_password_blank %>
  if($("#error_messages_password ul").text()){
    $("#error_messages_password ul").append("<li>Mật khẩu không được để trống</li>");
  } else {
    $("#message-password-blank").html("<ul><li>Mật khẩu không được để trống</li></ul>");
  }
<% elsif current_user.errors.blank? %>
  $("#message").html("<p>Cập nhật thành công</p>");
<% end %>
