<div class="container posts">
  <div class="suggesting">
    <div class="section-title">
      <h3> ĐỀ XUẤT CHO BẠN</h3>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="post-box">
          <img src="https://znews-photo.zadn.vn/w1920/Uploaded/afsiy/2021_11_27/md_saairport_271121.jpg" />
          <div class="post-box-title">
            <p>Trung Quốc thử nghiệm hạt nhân nguyên tử cho Việt Nam</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="post-box">
          <img src="https://znews-photo.zadn.vn/w1920/Uploaded/afsiy/2021_11_27/md_saairport_271121.jpg" />
          <div class="post-box-title">
            <p>Trung Quốc thử nghiệm hạt nhân nguyên tử cho Việt Nam</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="post-box">
          <img src="https://znews-photo.zadn.vn/w1920/Uploaded/afsiy/2021_11_27/md_saairport_271121.jpg" />
          <div class="post-box-title">
            <p>Trung Quốc thử nghiệm hạt nhân nguyên tử cho Việt Nam</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="post-box">
          <img src="https://znews-photo.zadn.vn/w1920/Uploaded/afsiy/2021_11_27/md_saairport_271121.jpg" />
          <div class="post-box-title">
            <p>Trung Quốc thử nghiệm hạt nhân nguyên tử cho Việt Nam</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="post-box">
          <img src="https://znews-photo.zadn.vn/w1920/Uploaded/afsiy/2021_11_27/md_saairport_271121.jpg" />
          <div class="post-box-title">
            <p>Trung Quốc thử nghiệm hạt nhân nguyên tử cho Việt Nam</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="post-box">
          <img src="https://znews-photo.zadn.vn/w1920/Uploaded/afsiy/2021_11_27/md_saairport_271121.jpg" />
          <div class="post-box-title">
            <p>Trung Quốc thử nghiệm hạt nhân nguyên tử cho Việt Nam</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="post-box">
          <img src="https://znews-photo.zadn.vn/w1920/Uploaded/afsiy/2021_11_27/md_saairport_271121.jpg" />
          <div class="post-box-title">
            <p>Trung Quốc thử nghiệm hạt nhân nguyên tử cho Việt Nam</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="post-box">
          <img src="https://znews-photo.zadn.vn/w1920/Uploaded/afsiy/2021_11_27/md_saairport_271121.jpg" />
          <div class="post-box-title">
            <p>Trung Quốc thử nghiệm hạt nhân nguyên tử cho Việt Nam</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="trending">
    <div class="section-title">
      <h3> TOP TRENDING</h3>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <div class="post-box first-trending">
          <img src="https://znews-photo.zadn.vn/w1920/Uploaded/afsiy/2021_11_27/md_saairport_271121.jpg" />
          <div class="post-box-title">
            <p>Trung Quốc thử nghiệm hạt nhân nguyên tử cho Việt Nam</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="post-box">
              <img src="https://znews-photo.zadn.vn/w1920/Uploaded/afsiy/2021_11_27/md_saairport_271121.jpg" />
              <div class="post-box-title">
                <p>Trung Quốc thử nghiệm hạt nhân nguyên tử cho Việt Nam</p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="post-box">
              <img src="https://znews-photo.zadn.vn/w1920/Uploaded/afsiy/2021_11_27/md_saairport_271121.jpg" />
              <div class="post-box-title">
                <p>Trung Quốc thử nghiệm hạt nhân nguyên tử cho Việt Nam</p>
              </div>
            </div>
          </div>


          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="post-box">
              <img src="https://znews-photo.zadn.vn/w1920/Uploaded/afsiy/2021_11_27/md_saairport_271121.jpg" />
              <div class="post-box-title">
                <p>Trung Quốc thử nghiệm hạt nhân nguyên tử cho Việt Nam</p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="post-box">
              <img src="https://znews-photo.zadn.vn/w1920/Uploaded/afsiy/2021_11_27/md_saairport_271121.jpg" />
              <div class="post-box-title">
                <p>Trung Quốc thử nghiệm hạt nhân nguyên tử cho Việt Nam</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a href="#"> Xem thêm </a>
    </div>
  </div>

  <div class="top-channel">
    <div class="section-title">
      <h3> CHANNELS </h3>
    </div>

    <div class="row">

      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="channel-suggesting">
          <div class="left">
            <img src="https://sohanews.sohacdn.com/thumb_w/660/2017/1291610710209554594881299982616623413613868o-1506468168931.jpg" />
          </div>

          <div class="mid">
            <p>Tran Quang Huy </p>
            <button class="btn btn-danger" title="huỷ theo dõi"> Theo dõi</button>
          </div>

          <div class="content-channel">
            <p>
              Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé!
              Hãy đăng ký kênh của tôi nhé!  Hãy đăng ký kênh của tôi nhé!
               Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé!
              Hãy đăng ký kênh của tôi nhé! 
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="channel-suggesting">
          <div class="left">
            <img src="https://sohanews.sohacdn.com/thumb_w/660/2017/1291610710209554594881299982616623413613868o-1506468168931.jpg" />
          </div>

          <div class="mid">
            <p>Tran Quang Huy tên rất chi là dài để test css</p>
            <button class="btn btn-danger" title="huỷ theo dõi"> Theo dõi</button>
          </div>

          <div class="content-channel">
            <p>
              Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé!
              Hãy đăng ký kênh của tôi nhé!  Hãy đăng ký kênh của tôi nhé!
               Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé!
              Hãy đăng ký kênh của tôi nhé! 
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="channel-suggesting">
          <div class="left">
            <img src="https://sohanews.sohacdn.com/thumb_w/660/2017/1291610710209554594881299982616623413613868o-1506468168931.jpg" />
          </div>

          <div class="mid">
            <p>Tran Quang Huy </p>
            <button class="btn btn-danger" title="huỷ theo dõi"> Theo dõi</button>
          </div>

          <div class="content-channel">
            <p>
              Hãy đăng ký kênh của tôi nhé! 
            </p>
          </div>
        </div>
      </div>


      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="channel-suggesting">
          <div class="left">
            <img src="https://sohanews.sohacdn.com/thumb_w/660/2017/1291610710209554594881299982616623413613868o-1506468168931.jpg" />
          </div>

          <div class="mid">
            <p>Tran Quang Huy </p>
            <button class="btn btn-danger" title="huỷ theo dõi"> Theo dõi</button>
          </div>

          <div class="content-channel">
            <p>
              Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé!
              Hãy đăng ký kênh của tôi nhé!  
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="channel-suggesting">
          <div class="left">
            <img src="https://sohanews.sohacdn.com/thumb_w/660/2017/1291610710209554594881299982616623413613868o-1506468168931.jpg" />
          </div>

          <div class="mid">
            <p>Tran Quang Huy </p>
            <button class="btn btn-danger" title="huỷ theo dõi"> Theo dõi</button>
          </div>

          <div class="content-channel">
            <p>
              Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé!
              Hãy đăng ký kênh của tôi nhé!  Hãy đăng ký kênh của tôi nhé!
               Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng
            </p>
          </div>
        </div>
      </div>


      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="channel-suggesting">
          <div class="left">
            <img src="https://sohanews.sohacdn.com/thumb_w/660/2017/1291610710209554594881299982616623413613868o-1506468168931.jpg" />
          </div>

          <div class="mid">
            <p>Tran Quang Huy </p>
            <button class="btn btn-danger" title="huỷ theo dõi"> Theo dõi</button>
          </div>

          <div class="content-channel">
            <p>
              Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé!
              Hãy đăng ký kênh của tôi nhé!  Hãy đăng ký kênh của tôi nhé!
               Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé!
              Hãy đăng ký kênh của tôi nhé! 
            </p>
          </div>
        </div>
      </div>


      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="channel-suggesting">
          <div class="left">
            <img src="https://sohanews.sohacdn.com/thumb_w/660/2017/1291610710209554594881299982616623413613868o-1506468168931.jpg" />
          </div>

          <div class="mid">
            <p>Tran Quang Huy </p>
            <button class="btn btn-danger" title="huỷ theo dõi"> Theo dõi</button>
          </div>

          <div class="content-channel">
            <p>
              Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé!
              Hãy đăng ký kênh của tôi nhé!  Hãy đăng ký kênh của tôi nhé!
               Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé!
              Hãy đăng ký kênh của tôi nhé! 
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="channel-suggesting">
          <div class="left">
            <img src="https://sohanews.sohacdn.com/thumb_w/660/2017/1291610710209554594881299982616623413613868o-1506468168931.jpg" />
          </div>

          <div class="mid">
            <p>Tran Quang Huy </p>
            <button class="btn btn-danger" title="huỷ theo dõi"> Theo dõi</button>
          </div>

          <div class="content-channel">
            <p>
              Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé!
              Hãy đăng ký kênh của tôi nhé!  Hãy đăng ký kênh của tôi nhé!
               Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé! Hãy đăng ký kênh của tôi nhé!
              Hãy đăng ký kênh của tôi nhé! 
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
