<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="container">
      <%= render 'form', url: admin_category_path, method: :patch %>
      </div>
    </div>
  </div>
</div>
