<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <p>
        <strong>Name:</strong>
        <%= @category.name %>
      </p>
    </div>
  </div>
</div> 
