.mt-15{
  margin-top: 15px;
}

.mt-20{
  margin-top: 20px;
}

.mt-40{
  margin-top: 40px;
}

.mr-15{
  margin-right: 15px;
}

.mr-20{
  margin-right: 20px;
}

.mb-15{
  margin-bottom: 15px;
}

.ml-15{
  margin-left: 15px;
}

.mg-r{
  margin-right: 20px;
}

a{
  cursor: pointer;
}
