.login-form{
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
}
.login-form h2{
  color: #009999;
  font-size: 20px;
  margin-bottom: 30px;
}
.field{
  margin-top: 20px;
}
.field input{
  padding: 7.5px 15px;
  width: 100%;
  border: 1px solid #cccccc;
  outline: none;
  border-radius: 10px;
}
.actions{
  position: relative;
}
.actions input{
  padding: 7.5px 15px;
  border-radius: 10px;
  background-color: #009999;
  color: #ffffff;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
}
.signup-form{
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 15px;
  /*border: 2px dotted #cccccc;*/
  border-radius: 10px;
}
.signup-form h2{
  color: #009999;
  font-size: 20px;
  margin-bottom: 30px;
}
input:hover{
  border-color: #B0E0E6;
  border-width: 2px;
}

.mg-r{
  margin-right:  20px;
}

.nav-item .session{
  color: black;
  text-decoration-line: none;
  cursor: pointer;
}

hr{
  margin-bottom: 0px;
  color:  red;
}

.nav-item .session:hover{
  color: #155dc7;
}


.field input:hover{
  border: 1px solid;
}

.border-red {
  border-color: red;
}

.alert.alert-danger {
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 0;
  font-size: 13px;
}

.center {
  text-align: center;
  margin-top: 70px;
}

.signup-click:hover {
  color: #155dc7;
  cursor: pointer;
}

.signin-click:hover {
  color: #155dc7;
  cursor: pointer;
}

#error_explanation ul{
  margin-bottom: 0;
}

.item-account{
  width: 25px;
  height: 25px;
  background-color: #009999;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #009999;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#card-signin {
  width: 200px;
  min-height: 200px;
  position: absolute;
  top: 49px;
  right: 20px;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  z-index: 998;
  border-radius: 10px;
  font-family: -apple-system;
  padding-bottom: 10px;
}
#card-signin img{
  width: 25px;
  margin-bottom: 2px;
}

#card-signin a{
  text-decoration: none;
}

.signin-as{
  margin-top:  10px;
  text-align: center;
}

.card-item{
  text-align: center;
  color: black;
  text-decoration: none;
  cusror: pointer;
}
.card-item:hover{
  text-decoration: none;
}
.card-item:hover{
  cursor: pointer;
  background-color: #e8e8e8;
}

.session{
  color: black;
  text-decoration: none;
}
.session:hover{
  cursor: pointer;
  color:  #155dc7;
}

.dropdown-item-custom {
  padding-right: 15px;
  padding-left: 15px;
  font-weight: bold;
}

.dropdown-menu{
  width: 200px;
}

.arrow_box {
  position: relative;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 87%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.arrow_box:before {
  border-color: rgba(232, 232, 232, 0);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-width: 9px;
  margin-left: -9px;
}

