body {
  font-family: 'Noto Serif', serif;
}

.login-form{
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
}
.login-form h2{
  color: #009999;
  font-size: 20px;
  margin-bottom: 30px;
}
.field{
  margin-top: 20px;
}
.field input{
  padding: 7.5px 15px;
  width: 100%;
  border: 1px solid #cccccc;
  outline: none;
  border-radius: 10px;
}
.actions{
  position: relative;
}
.actions input{
  padding: 7.5px 15px;
  border-radius: 10px;
  background-color: #009999;
  color: #ffffff;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
}
.signup-form{
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 15px;
  /*border: 2px dotted #cccccc;*/
  border-radius: 10px;
}
.signup-form h2{
  color: #009999;
  font-size: 20px;
  margin-bottom: 30px;
}
input:hover{
  border-color: #B0E0E6;
  border-width: 2px;
}

.mg-r{
  margin-right:  20px;
}

.nav-item .session{
  color: black;
  text-decoration-line: none;
  cursor: pointer;
}

hr{
  margin-bottom: 0px;
  color:  red;
}

.nav-item .session:hover{
  color: #155dc7;
}


.field input:hover{
  border: 1px solid;
}

.border-red {
  border-color: red;
}

.alert.alert-danger {
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 0;
  font-size: 13px;
}

.center {
  text-align: center;
  margin-top: 70px;
}

.signup-click:hover {
  color: #155dc7;
  cursor: pointer;
}

.signin-click:hover {
  color: #155dc7;
  cursor: pointer;
}

#error_explanation ul{
  margin-bottom: 0;
}

.item-account{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  font-size: 24px;
}

.item-account img{
  width: 35px;
  min-height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

#card-signin {
  width: 200px;
  min-height: 200px;
  position: absolute;
  top: 49px;
  right: 20px;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  z-index: 998;
  border-radius: 10px;
  font-family: -apple-system;
  padding-bottom: 10px;
}
#card-signin img{
  width: 25px;
  margin-bottom: 2px;
}

#card-signin a{
  text-decoration: none;
}

.signin-as{
  margin-top:  10px;
  text-align: center;
}

.card-item{
  text-align: center;
  color: black;
  text-decoration: none;
  cusror: pointer;
}
.card-item:hover{
  text-decoration: none;
}
.card-item:hover{
  cursor: pointer;
  background-color: #e8e8e8;
}

.session{
  color: black;
  text-decoration: none;
}
.session:hover{
  cursor: pointer;
  color:  #155dc7;
}

.dropdown-item-custom {
  padding-right: 15px;
  padding-left: 15px;
  font-weight: bold;
}

.dropdown-menu{
  width: 200px;
}

.arrow_box {
  position: relative;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 87%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.arrow_box:before {
  border-color: rgba(232, 232, 232, 0);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-width: 9px;
  margin-left: -9px;
}

.nav-item a{
  text-decoration: none;
}

.rich_text_area {
  min-height: 800px;
}

.content-post figure{
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-post img{
  padding-bottom: 10px;
}

.body-post{
  max-width: 720px;
  margin: auto;
}

.body-post h1{
  margin-bottom: 30px;
  font-weight: 700;
}

.body-post .category{
  margin-top: 20px;
}

.body-post .category p{
  text-transform: uppercase;
  color: #888;
}

.btn-edit-post {
  float: right;
  margin-right: 20px;
}

.right p{
  color: #888;
  margin-bottom: 40px;
}

.author-post{
  width: 100%;
  min-height: 100px;
  padding-bottom: 20px;
}

.author-post .left{
  float: left;
}

.author-post .mid{
  float: left;
  margin-left: 10px;
}

.author-post .right{
  float: right;
  margin-right: 20px;
}

.author-post .right p{
  font-size: 15px;
  margin-top: 0;
}

.author-post .mid p{
  margin-top: 0;
  margin-bottom: 0;
}

.author-post img{
  display: inline;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.author-post p{
  font-size: 12px;
  margin-top: 10px;
  padding-top: 0;
}

.author-post button p{
  padding: 0;
}

.author-post button{
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.clear-both{
  clear: both;
}

.image-post img{
  width: 300px;
}

.alert.alert-danger {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

#error_messages_post ul li:first-child{
  padding-top: 8px;
}

#error_messages_post ul li:last-child{
  padding-bottom: 8px;
}

#error-message-signup  ul li:first-child{
  padding-top: 8px;
}

#error-message-signup  ul li:last-child{
  padding-bottom: 8px;
}

#error-message-signin {
  padding-top: 8px;
  padding-bottom: 8px;
}

.posts h3{
  font-size: 20px;
}

.posts h3:before{
  content: '';
  position: absolute;
  width: 5px;
  left: 5px;
  top: 0.2em;
  bottom: 0.2em;
  -webkit-transform: skew(-20deg);
  -khtml-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background-color: #dd3333;
}

.section-title {
  display: block;
  position: relative;
  padding-left: 20px;
}

.post-box img{
  width: 100%;
  object-fit: cover;
  margin-bottom: 7px;
}

.post-box p{
  display: inline;
  margin-top: 0px;
}

.suggesting {
  margin-top: 20px;
  background-color: #e8e8e8;
  padding: 10px;
  margin-bottom: 40px;
}

.trending {
  padding: 10px;
  margin-bottom: 40px;
}

.top-channel{
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 40px;
}

.top-channel .mid button{
  display: inline;
  font-size: 10px;
}

.channel-suggesting{
  position: relative;
  max-height: 200px;
  border: 2px solid #e8e8e8;
  border-radius: 4px;
  padding: 65px 5px 5px 5px;
  margin-bottom: 40px;
}

.channel-suggesting img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.channel-suggesting .left{
  position: absolute;
  top: 5px;
  left: 5px;
}

.channel-suggesting .mid{
  position: absolute;
  top: 0;
  left: 70px;
}

.channel-suggesting button{
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.65em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.channel-suggesting .mid p{
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel-suggesting .content-channel{
  width: 100%;
  height: 100px;
  padding-left: 10px;
  margin-top: 20px;
}

.channel-suggesting .content-channel p{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  margin: auto;
}

#my_file{
  display: none;
}

.avatar img{
  width: 200px;
  min-height: 200px;
  height: auto;
  cursor: pointer;
}

.tab{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover{
  background-color: #ddd;
}

.tab button.active{
  background-color: #ccc;
}

.tabcontent{
  display: none;
  padding: 30px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
