<footer>
  <div class="container pl-15-important">
    <div class="row">
      <div class="col-xs-12 col-sm-6 categories-ft">
        <ul>
          <li><a href="#">Thông tin về chúng tôi</a></li>
          <li><a href="#">UT coin</a></li>
          <li><a href="#">Liên hệ</a></li>
          <li><a href="#">Trở thành đối tác</a></li>
          <li><a href="#">Giúp đỡ</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="logo-footer">
          <%= link_to image_tag("logo-1.png"), root_path, class: "navbar-brand logo" %>
        </div>
        <p>
          Công ty trách nhiệm hữu hạn Uytinvl<br/>
          Chịu trách nhiệm: Trần Quang Huy<br/>
          Số điện thoại: 0964 074 043<br/>
          Địa chỉ: 14 Huy Du, Sơn Trà, Đà Nẵng
        </p>
        <div class="social">
          <i class="fab fa-facebook fa-2x mr-20"></i>
          <i class="fab fa-google-plus fa-2x mr-20"></i>
          <i class="fab fa-twitter-square fa-2x mr-20"></i>
        </div>
      </div>
    </div>
    <hr />
    <div class="ta-center">Uytinvl 2021 &copy;</div>
  </div>
</footer>
